@tailwind base;
@tailwind components;
@tailwind utilities;
/* customization of thumbnails of react-awesome-slider of home page */
.thumbs-wrapper ul{
    display:flex !important;
    justify-content: center !important;
    }

    .drawer-side a.active {
        color: white;
      }
    .drawer-side a {
        background-color: transparent;
      }